* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

#valores {
    margin: 20px;
    background-color: #3b5998;
    color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

#valores h3 {
    margin-bottom: 4px;
}

#valores p {
    margin-top: 4px;
}