* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 196, 0);
}

.dataGridView_produtos {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;

    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur (15px);
}

.dataGridView_titulos {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
}

.dataGridView_dados {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
}