@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

button {
    width: 150px;
    height: 40px;
    background-color: #3b5998;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.295);
}

button:hover {
    background-color: #516797;
    font-weight: 700;
}

.obj {
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    margin: 8px 0px;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.295);
}

.obj:hover {
    background-color: #516797;
}

.destaque {
    background-color: rgb(252, 108, 12) !important;
    color: #444 !important;
}

.a1 {
    background-color: #3b5998;
    color: #eee;
}

a2 {
    background-color: #444;
    color: #ccc;
}

.caixa {
    background-color: #ddd;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    height: 400px;
    width: 300px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.295);
}